name: Deploy to Orange Pi

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Pull latest code
        run: |
          cd /mnt/nvme/Projects/dashboard
          git pull
          sudo pm2 restart all
          echo "Deployed successfully!"
